#
# The "-dev" profile is for running the API service locally against pre-existing
# docker containers that are listening on known port numbers for hmpps-auth (8090) and
# a postgres database (5432).
#

# Most values are inherited from - application.yml - except the following:
spring:
  jpa:
    show-sql: true

# Container-provider local auth server
hmpps:
  auth:
    token:
      url: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth/oauth/token"
  govuk:
    api:
      url: "https://www.gov.uk"
  prison:
    api:
      url: "https://prison-api-dev.prison.service.justice.gov.uk/api"
  prisonregister:
    api:
      url: "https://prison-register-dev.hmpps.service.justice.gov.uk"
  delius:
    api:
      url: "http://localhost:5000"
  workload:
    api:
      url: "https://hmpps-workload-dev.hmpps.service.justice.gov.uk"
  manageusers:
    api:
      url: "https://manage-users-api-dev.hmpps.service.justice.gov.uk"
  prisonersearch:
    api:
      url: "https://prisoner-search-dev.prison.service.justice.gov.uk"

  document:
    api:
      url: "https://document-api-dev.hmpps.service.justice.gov.uk"

  hdc:
    api:
      url: "https://hdc-api-dev.hmpps.service.justice.gov.uk"

  # Left this empty for now as in dev we do not have many prisoners from nomis
  cases:
    last-minute:
      prisons:

notify:
  enabled: false

hmpps.sqs:
  provider: localstack
  localstackUrl: http://localhost:4666
  queues:
    domaineventsqueue:
      queueName: domainevents-queue
      dlqName: domainevents-queue-dlq
      subscribeTopicId: domainevents
    prisoneventsqueue:
      queueName: prisonevents-queue
      dlqName: prisonevents-queue-dlq
      subscribeTopicId: prisonevents
  topics:
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:domainevents-topic
    prisonevents:
      arn: arn:aws:sns:eu-west-2:000000000000:prisonevents-topic

domain:
  event:
    listener:
      disabled: true

prison:
  event:
    listener:
      enabled: false

update:
  offender:
    details:
      handler:
        enabled: false

progression:
  model:
    policy-start-date: 2026-09-01
