---
# Per environment values which override defaults in create-and-vary-a-licence-api/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    hosts:
      - create-and-vary-a-licence-api-preprod.hmpps.service.justice.gov.uk
    contextColour: green

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    HMPPS_AUTH_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    HMPPS_AUTH_TOKEN_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth/oauth/token"
    HMPPS_DELIUS_API_URL: "https://create-and-vary-a-licence-and-delius-preprod.hmpps.service.justice.gov.uk"
    HMPPS_WORKLOAD_API_URL: "https://hmpps-workload-preprod.hmpps.service.justice.gov.uk"
    HMPPS_DOCUMENT_API_URL: "https://document-api-preprod.hmpps.service.justice.gov.uk/"
    HMPPS_HDC_API_URL: "https://hdc-api-preprod.hmpps.service.justice.gov.uk/"
    HMPPS_MANAGEUSERS_API_URL: "https://manage-users-api-preprod.hmpps.service.justice.gov.uk"
    HMPPS_PRISON_API_URL: "https://prison-api-preprod.prison.service.justice.gov.uk/api"
    HMPPS_PRISONREGISTER_API_URL: "https://prison-register-preprod.hmpps.service.justice.gov.uk"
    HMPPS_PRISONERSEARCH_API_URL: "https://prisoner-search-preprod.prison.service.justice.gov.uk"
    SELF_LINK: "https://create-and-vary-a-licence-preprod.hmpps.service.justice.gov.uk"
    SELF_API_LINK: "https://create-and-vary-a-licence-api-preprod.hmpps.service.justice.gov.uk"
    OS_PLACES_API_URL: "https://api.os.uk/search/places/v1"
    UPDATE_OFFENDER_DETAILS_HANDLER_ENABLED: true
    TIME_SERVED_PRISONS: "MDI, BAI, BNI, WCI, EXI, WDI, IWI, EWI"

  namespace_secrets:
    sqs-domain-events-queue-secret:
      HMPPS_SQS_QUEUES_DOMAINEVENTSQUEUE_QUEUE_NAME: "sqs_queue_name"

  scheduledDowntime:
    enabled: true
    businessHoursOnly: true

jobs:
  - name: prompt-licence-creation-job
    enabled: true
    path: /prompt-licence-creation
    cron: "05 9 * * 1" # 9:05am UTC, Monday
    allowRetry: false

  - name: deactivate-hdc-licences-job
    enabled: true
    path: /deactivate-hdc-licences
    cron: "10 8 * * *" # 8:10am UTC every day
    allowRetry: true

  - name: activate-licences-job
    enabled: true
    path: /activate-licences
    cron: "0 9,12,15,18 * * *" # 9am, 12pm, 3pm, and 6pm UTC every day
    allowRetry: true

  - name: deactivate-licences-past-release-date-job
    enabled: true
    path: /deactivate-licences-past-release-date
    cron: "15 8 * * 1-5" # 8:15am UTC Monday - Friday
    allowRetry: true

  - name: expire-licences-job
    enabled: true
    path: /expire-licences
    cron: "20 8 * * *" # 8:20am every day
    allowRetry: true

  - name: warn-licence-review-overdue-job
    enabled: true
    path: /warn-licence-review-overdue
    cron: "5 9 * * 1-5" # 9:05am UTC Monday - Friday
    allowRetry: false

  - name: time-out-licences-job
    enabled: true
    path: /time-out-licences
    cron: "45 8 * * 1-5" # 8:45am UTC Monday - Friday
    allowRetry: true

  - name: remove-expired-conditions-job
    enabled: true
    path: /remove-expired-conditions
    cron: "30 8 * * 1-5" # 8:30am UTC Monday - Friday
    allowRetry: true

  - name: notify-probation-of-unapproved-licences-job
    enabled: true
    path: /notify-probation-of-unapproved-licences
    cron: "40 9 * * *" # 9:40am every day
    allowRetry: false

#CloudPlatform AlertManager receiver to route prometheus alerts to slack
#See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: cvl-alerts-non-prod
  businessHoursOnly: true

dataExtractorEnabled: false
