---
# Per environment values which override defaults in create-and-vary-a-licence-api/values.yaml

generic-service:
  replicaCount: 4

  ingress:
    hosts:
      - create-and-vary-a-licence-api.hmpps.service.justice.gov.uk
    contextColour: green

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    HMPPS_AUTH_TOKEN_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth/oauth/token"
    HMPPS_DELIUS_API_URL: "https://create-and-vary-a-licence-and-delius.hmpps.service.justice.gov.uk"
    HMPPS_WORKLOAD_API_URL: "https://hmpps-workload.hmpps.service.justice.gov.uk"
    HMPPS_DOCUMENT_API_URL: "https://document-api.hmpps.service.justice.gov.uk/"
    HMPPS_HDC_API_URL: "https://hdc-api.hmpps.service.justice.gov.uk/"
    HMPPS_MANAGEUSERS_API_URL: "https://manage-users-api.hmpps.service.justice.gov.uk"
    HMPPS_PRISON_API_URL: "https://prison-api.prison.service.justice.gov.uk/api"
    HMPPS_PRISONREGISTER_API_URL: "https://prison-register.hmpps.service.justice.gov.uk"
    HMPPS_PRISONERSEARCH_API_URL: "https://prisoner-search.prison.service.justice.gov.uk"
    SELF_LINK: "https://create-and-vary-a-licence.hmpps.service.justice.gov.uk"
    SELF_API_LINK: "https://create-and-vary-a-licence-api.hmpps.service.justice.gov.uk"
    OS_PLACES_API_URL: "https://api.os.uk/search/places/v1"
    UPDATE_OFFENDER_DETAILS_HANDLER_ENABLED: true
    TIME_SERVED_PRISONS: "BNI, WCI, EXI, IWI, EWI"

  namespace_secrets:
    sqs-domain-events-queue-secret:
      HMPPS_SQS_QUEUES_DOMAINEVENTSQUEUE_QUEUE_NAME: "sqs_queue_name"

  postgresDatabaseRestore:
    enabled: true
    timeout: 5400 # 1 hour 30 min
    namespace_secrets:
      rds-instance-output:
        DB_NAME: "database_name"
        DB_USER: "database_username"
        DB_PASS: "database_password"
        DB_HOST: "rds_instance_address"
      rds-instance-output-preprod:
        DB_NAME_PREPROD: "database_name"
        DB_USER_PREPROD: "database_username"
        DB_PASS_PREPROD: "database_password"
        DB_HOST_PREPROD: "rds_instance_address"

#CloudPlatform AlertManager receiver to route prometheus alerts to slack
#See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: cvl-alerts
  rdsAlertsDatabases:
    cloud-platform-19e59840f293a5ad: "CVL"

dataExtractorEnabled: true
